<footer class="site-footer">
  <div class="footer-inner">
      <div class="row">
          <div class="col-sm-6">
                <!-- © 2021 Copyright Mezcal -->                
                2021 derechos reservados COMERCAM
          </div>
          <div class="col-sm-6 text-right">
                <!-- Designed and Developed By <a href="https://holostik.com/" target="_blank">Holostik India Ltd.</a> -->
                diseño y desarrollado por  <a href="https://holostik.com/" target="_blank">holostik </a>
          </div>
      </div>
  </div>
</footer>