<header>
    <h2 class="page-heading">perfil </h2>
        <!-- Profile</h2> -->
  </header>
  <div class="row">
    <div class="col-md-6" style="margin:0 auto;">
        <div class="card p-3 mt-5" style="border-radius:8px;">
           <div class="row">
               <div class="col-md-12">
                   <img class="profile-pic" src="./../../../assets/images/admin.jpg" />
               </div>
               <div class="col-md-4">
                nombre de usuario:
                   <!-- User Name: -->
               </div>
               <div class="col-md-8 pb-3">
                  {{userDetails.UserName}}
               </div>
               <div class="col-md-4">
                ID de Email :
                <!-- Email Id: -->
            </div>
            <div class="col-md-8 pb-3">
                {{userDetails.Email}}
            </div>
            <div class="col-md-4">
                de usuario escribir:
                <!-- User Type: -->
            </div>
            <div class="col-md-8 pb-3">
                {{userDetails.UserType}}
            </div>
            <div class="col-md-4">
                numero celular 
                <!-- Mobile No.: -->
            </div>
            <div class="col-md-8">
                {{userDetails.Mobile}}
            </div>
           </div>
        </div>
    </div>
</div>