<header>
  <h2 class="page-heading">cambiar de clave de acceso </h2>
  <!-- Change Password -->
</header>
<div class="row">
  <div class="col-lg-6" style="margin: 0 auto;">
    <div class="card">
      <!-- <div class="card-header">
        <i class="fa fa-lock"></i> Change Password 
      </div> -->
      <div class="card-body">
          <form  [formGroup]="ChangePassword">
          <div class="row">
              <div class="col-sm-12 mt-3">
                 <div class="form-group"><label class="pb-2">Ingrese su clave anterior </label>
                   <!-- Old Password -->
                <input type="password" maxlength="20" (keydown.space)="$event.preventDefault()" formControlName="oldpassword" [ngClass]="{'is-invalid':(ChangePassword.get('oldpassword')!.errors)&&(ChangePassword.get('oldpassword')!.touched||ChangePassword.get('oldpassword')!.dirty)}" class="form-control" />
                <div class="redmark" *ngIf="(ChangePassword.get('oldpassword')!.errors?.required && (ChangePassword.get('oldpassword')!.touched||ChangePassword.get('oldpassword')!.dirty))">
                  <div class="alert alert-danger">
                   <!-- Old password is required -->
                   clave anterior requerida 
                  </div>
                </div>
                 </div>
              </div>
              <div class="col-sm-12 mt-3" >
                 <div class="form-group"><label class="pb-2">por favor ingrese su clave </label>
                   <!-- New Password -->
                  <input type="password"  maxlength="20"  (keydown.space)="$event.preventDefault()"
                   formControlName="newPassword"  [ngClass]="{'is-invalid':(ChangePassword.get('newPassword')!.errors)&&(ChangePassword.get('newPassword')!.touched||ChangePassword.get('newPassword')!.dirty)}" class="form-control" />
                <div class="redmark" *ngIf="(ChangePassword.get('newPassword')!.errors?.required && (ChangePassword.get('newPassword')!.touched||ChangePassword.get('newPassword')!.dirty))">
                  <div class="alert alert-danger">
                   <!-- New password is required -->
                   la clave de acceso es necesaria 
                  </div>
                </div>
                  <div class="redmark" *ngIf="((checkOldNewPassword()&&(ChangePassword.get('newPassword')!.touched)))">
                    <div class="alert alert-danger">
                      clave y confirmar su clave no es lo mismo 
                     <!-- New password and Old password must not match -->
                    </div>
                    
                  </div>
                  <!-- <div *ngIf="d.newPassword.invalid && (d.newPassword.dirty || d.newPassword.touched)" class="redmark">
                   <div *ngIf="d.newPassword.errors?.pattern" class="alert alert-danger">Password must have combination Of Alphabet, numeric & Special Char..
                    </div>
                    </div> -->
              </div>
           </div>
           <div class="col-sm-12 mt-3">
              <div class="form-group"><label class="pb-2">confirmar clave</label>
                <!-- Confirm New Password</label> -->
                <input type="password" maxlength="20" (keydown.space)="$event.preventDefault()"
                 formControlName="cnfrmNewPassword" [ngClass]="{'is-invalid':(ChangePassword.get('cnfrmNewPassword')!.errors)&&(ChangePassword.get('cnfrmNewPassword')!.touched||ChangePassword.get('cnfrmNewPassword')!.dirty)}"  class="form-control" />
                <div class="redmark" *ngIf="(ChangePassword.get('cnfrmNewPassword')!.errors?.required && (ChangePassword.get('cnfrmNewPassword')!.touched||ChangePassword.get('cnfrmNewPassword')!.dirty))">
                  <div class="alert alert-danger">
                   <!-- Confirm password is required -->
                   confirmacion de clave requerida 
                  </div>
                </div>
                <div class="redmark" *ngIf="((!checkPassword()&&(ChangePassword.get('cnfrmNewPassword')!.touched||ChangePassword.get('cnfrmNewPassword')!.dirty))&& (ChangePassword.get('cnfrmNewPassword')!.valid))">
                  <div class="alert alert-danger">
                   <!-- Confirm Password must match new password -->
                   confirmar clave debe ser la misma que la nueva clave 
                  </div>
                </div>
                <!-- <div *ngIf="d.cnfrmNewPassword.invalid && (d.cnfrmNewPassword.dirty || d.cnfrmNewPassword.touched)" class="redmark">
                  <div *ngIf="d.cnfrmNewPassword.errors?.pattern" class="alert alert-danger">Password must have combination Of Alphabet, numeric & Special Char..
                   </div>
                   </div> -->
           </div>
        </div>
          
          
      </div>
        <div class="modal-footer">
          <!-- //clear -->
            <button class="btn btn-sm btn-danger" type="reset" (click)="clear()"><i class="fa fa-ban"></i> limpiar            </button>
            <button class="btn btn-sm btn-primary" type="submit" (click)="submit()" [disabled]="!(ChangePassword.valid&&checkPassword()&&!checkOldNewPassword())" ><i class="fa fa-check"></i> enviar</button>
            <!-- Submit -->
      
        </div>
        <!-- <div style="font-size:13px;"><strong>Note:</strong> Set password in 6-20 & Combination of Alphanumeric & special char</div>
         pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{6,21}$" pattern code
        -->
        </form>
      </div>

    </div>

        </div>
        </div>
        




































<!-- <header>
    <h2 class="page-heading">Change Password</h2>
  </header>
<div class="row">
    <div class="col-md-6" style="margin:0 auto;">
        <div class="card p-5" style="border-radius:8px;">
            <form>
              <div class="form-group">
                <label class="pb-2">Old Password</label>
                <input type="password" class="form-control" />
                </div>
                <div class="form-group mt-3">
                <label class="pb-2">New Password</label>
                <input type="password" class="form-control" />
              </div>
              <div class="form-group mt-3">
                <label class="pb-2">Conform Password</label>
                <input type="password" class="form-control" />
              </div>
                <button class="btn btn-primary mt-4" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div> -->
 