<header>
  <!-- UserMaster -->
  <h2 class="page-heading">configurar usuario</h2>
</header>
<p-table class="custom-table"
#dt
[columns]="selectedColumns"

[autoLayout]="true"
[value]="UserList"
[resizableColumns]="true"
selectionMode="multiple"
[(selection)]="selectedData"
[responsive]="true"
[paginator]="true"
[rows]="5"
[showCurrentPageReport]="true"
currentPageReportTemplate="ingrese un producto valido: {{totalRecords}}"
[first]="first"
(onLazyLoad)="loadLazy($event)"
[lazy]="true"
[customSort]="true"
(sortFunction)="customSort($event)"
[totalRecords]="totalRecords"
sortMode="multiple"
exportFilename="User Master List"
[rowsPerPageOptions]="[5, 10, 20, 100,totalRecords]"
>

<ng-template pTemplate="caption">
  <div class="row search-field">
    <div class="col-md-3">
<p-multiSelect [options]="cols" [(ngModel)]="selectedColumns"
      optionLabel="header" selectedItemsLabel="selecciona {0} columnas" [style]="{minWidth: '200px'}"
      defaultLabel="Choose Columns"></p-multiSelect>
</div>
<div class="col-md-9">
<i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText placeholder="filtro global"  (input)="dt.filterGlobal($any($event).target.value, 'contains')"
        style="width:auto">
      <button type="button" pButton icon="fa fa-file-excel-o" iconPos="left" label="descargar" (click)="exportAsXLSX()"
        style="margin-left:12px;"></button>
        <!-- label="Add" -->
      <button type="button" pButton icon="fa fa-plus-circle"  (click)="showDialog()"  iconPos="left" label="agregar usuario"
        style="margin-left:12px;"></button>
</div>
</div>
 
</ng-template>

<ng-template pTemplate="header" let-columns>
  <tr>
    <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field">
      {{col.header}}
      <p-sortIcon [field]="col.field"></p-sortIcon>
    </th>
    <th *ngIf="selectedColumns.length>0">Estatus</th>
    <th *ngIf="selectedColumns.length>0">Accion</th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-rowData let-columns="columns">
  <tr>
    <td *ngFor="let col of columns">
      {{rowData[col.field]}}

    </td>
    <td  *ngIf="selectedColumns.length>0"><input type="checkbox" [checked]="rowData.isActive" disabled></td>
    <td *ngIf="(selectedColumns.length>0 && rowData.userType===2)"><button  (click)="confirmForAciveOrDeactivateUser(rowData)" icon="pi pi-check"  style="color: #c38747;"><span style="width: 100px;">{{rowData.isActive == true ? 'desactivar' : 'activar'}}</span></button></td>
    <td *ngIf="(selectedColumns.length>0 && rowData.userType!==2)"><button type="button" (click)="editUser(rowData)" pButton icon="fa fa-pencil" iconPos="left"></button></td>
  </tr>
</ng-template>

<ng-template pTemplate="emptymessage" let-columns>
  <tr>
    <td [attr.colspan]="columns.length + 2" class="text-center">
       <!-- No se encontraron registros -->
       no fue encontrato
    </td>
  </tr>
</ng-template>
</p-table>

<p-dialog header="{{modalHeader}}" [style]="{'width':'60%'}" [(visible)]="display" [modal]="true" [dismissableMask]="true">
  <form class="modelForm" [formGroup]="addUserDetailForm" (ngSubmit)="SaveUserDetail()" novalidate>
    <div class="row">
    <div class="form-group col-sm-6">
      <!-- <label for="UserName">UserName:</label> -->
      <label for="UserName">nombre de usuario:<span style="color: red"> *</span></label>
      <input type="text"   (keypress)="keyPressAlphaOnly($event)" formControlName="UserName" class="form-control"
      [ngClass]="{ 'is-invalid': u.UserName.errors && (u.UserName.dirty || u.UserName.touched) }">
      <div *ngIf="u.UserName.invalid && (u.UserName.dirty || u.UserName.touched)" class="invalid-feedback">
        <!-- <div *ngIf="u.UserName.errors!.required">User Name is required</div> -->
        <div *ngIf="u.UserName.errors!.required">nombre de usuario requerido</div>

      </div>
    </div>
    <div class="form-group col-sm-6">
      <!-- Email -->
      <label for="Email">ID de Email <span style="color: red"> *</span> :</label>
      <input type="email"   pattern="^[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
       formControlName="Email" class="form-control"
       [ngClass]="{ 'is-invalid': u.Email.errors && (u.Email.dirty || u.Email.touched) }"
       >
       <div *ngIf="u.Email.invalid && (u.Email.dirty || u.Email.touched)" class="invalid-feedback">
        <!-- <div *ngIf="u.Email.errors!.required">EmailID is required</div> -->
        <div *ngIf="u.Email.errors!.required">ingrese su clave de email </div>
        <!-- <div *ngIf="u.Email.errors?.pattern">Please Enter a Valid EmailID</div> -->
        <div *ngIf="u.Email.errors?.pattern">ingrese su clave de Email valida</div>
      </div>
    </div>

    <div class="form-group col-sm-6">
      <!-- numero celular  -->
      <label for="Mobile">numero celular<span style="color: red"> *</span> :</label>
      <input type="text" formControlName="Mobile"  maxlength="10" pattern="^[1-9][0-9]{9}$"
      [ngClass]="{ 'is-invalid': u.Mobile.errors && (u.Mobile.dirty || u.Mobile.touched) }"
      class="form-control">
      <div *ngIf="u.Mobile.invalid && (u.Mobile.dirty || u.Mobile.touched)" class="invalid-feedback">
        <!-- <div *ngIf="u.Mobile.errors!.required">Mobile No is required</div> -->
        <div *ngIf="u.Mobile.errors!.required">telefono es requerido </div>
      <div *ngIf="u.Mobile.errors?.pattern">ingrese un numero celular valido</div>
      <!-- <div *ngIf="u.Mobile.errors?.pattern">Please Enter a Valid Mobile No</div> -->
      </div>
    </div>
    <div class="form-group col-sm-6">
      <!-- User Type< -->
      <label for="UserType">tipo de usuario<span style="color: red"> *</span> :</label>
      <p-dropdown [options]="userTypeListForDdl"  formControlName="UserType" autoWidth="false" [style]="{'width':'100%'}"
      appendTo="body"  placeholder="seleccione el tipo de usuario" optionLabel="userType" [showClear]="true"
      [ngClass]="{ 'is-invalid': u.UserType.errors && (u.UserType.dirty || u.UserType.touched) }"
      ></p-dropdown>
     <div *ngIf="u.UserType.invalid && (u.UserType.dirty || u.UserType.touched)" class="invalid-feedback">
      <!-- <div *ngIf="u.UserType.errors!.required">User type is required</div> -->
      <div *ngIf="u.UserType.errors!.required"> tipo de usuario requerido</div>

    </div>
      <!-- <label for="UserType">User Type:</label>  (blur)="logValidationErrors()"
      <input type="text" formControlName="UserType" class="form-control"> -->
    </div>
    <div *ngIf="!editMode" class="form-group col-sm-6">
      <!-- Password -->
      <label for="Password">clave <span style="color: red"> *</span> :</label>
      <input type="text" (keydown.space)="$event.preventDefault()" formControlName="Password" class="form-control">

      <div class="redmark" *ngIf="((!checkPassword()&&(addUserDetailForm.get('Password')!.touched||addUserDetailForm.get('Password')!.dirty))&& (addUserDetailForm.get('Password')!.valid))">
        <!-- <div class="alert alert-danger">
         Password and Confirm password must match
        </div> -->

      </div>
    </div>

    <div  *ngIf="!editMode" class="form-group col-sm-6">
      <!-- Confirm Password  -->
      <label for="ConfirmPassword">confirmacion de clave<span style="color: red"> *</span> :</label>
      <input type="text" formControlName="ConfirmPassword" (keydown.space)="$event.preventDefault()" class="form-control">
      <div class="redmark" *ngIf="(addUserDetailForm.get('ConfirmPassword')!.errors?.required && (addUserDetailForm.get('ConfirmPassword')!.touched||addUserDetailForm.get('ConfirmPassword')!.dirty))">
        <div style="border-color:white;font-size: 11px;color: red;padding:0px;background-color: white">
         <!-- Confirm password is required -->
         confirmacion de clave requerida
        </div>
      </div>

      <div class="redmark" *ngIf="((!checkPassword()&&(addUserDetailForm.get('ConfirmPassword')!.touched||addUserDetailForm.get('cnfrmNewPassword')!.dirty))&& (addUserDetailForm.get('ConfirmPassword')!.valid))">
        <div style="border-color:white;font-size: 11px;color: red;padding:0px;background-color: white">
         <!-- Confirm Password must match Password -->
         confirmar clave debe ser la misma que la nueva clave
        </div>
      </div>
      <!-- <div *ngIf="u.addUserDetailForm.invalid && (u.addUserDetailForm.dirty || d.addUserDetailForm.touched)" class="redmark">
        <div *ngIf="u.addUserDetailForm.errors?.pattern" class="alert alert-danger">Password must have combination Of Alphabet, numeric & Special Char..
         </div>
         </div> -->
    </div>

    <!-- <div class="form-group col-sm-6">
      <label for="Role">Role:</label>
      <input type="text" formControlName="RoleId" class="form-control">
    </div> -->
    <div class="form-group col-sm-6">
      <!-- User Role -->
      <label for="UserType">posicion del usuario<span style="color: red"> *</span> :</label>
      <p-dropdown [options]="userRoleListForDdl"  formControlName="RoleId" autoWidth="false" [style]="{'width':'100%'}"
      appendTo="body"  placeholder="seleccionar rol de usuario" optionLabel="roleName" [showClear]="true"
      [ngClass]="{ 'is-invalid': u.RoleId.errors && (u.RoleId.dirty || u.RoleId.touched) }"
      ></p-dropdown>

     <div *ngIf="u.RoleId.invalid && (u.RoleId.dirty || u.RoleId.touched)" class="invalid-feedback">
      <!-- <div *ngIf="u.RoleId.errors!.required">User Role is required</div>  -->
      <div *ngIf="u.RoleId.errors!.required">posicion del usuario requerido</div>
    </div>
    </div>

    <div  class="form-group col-sm-6">
      <!-- InActive Reason -->
      <label *ngIf="IsActiveReasonHide" for="Address">InActive Reason:</label>
      <input *ngIf="IsActiveReasonHide" type="text" formControlName="InActiveReason" class="form-control">
    </div>
    <div class="form-group col-sm-6" style="margin-bottom:10px">
      <label for="IsActive" style="margin-right:10px;">estatus</label>
      <input type="checkbox" formControlName="IsActive"
      (change)="oncheckboxChangeForUser($any($event).target.checked)" >

    </div>
    <!-- Note  -->
    <div>agregar : (<span class="redmark" style="color: red;">*</span>) en las casillas seleccionadas</div>
      <!-- Are Required Fields.</div> -->
    <div class="form-group col-sm-12 text-center">
      <!-- Submit -->
    <button type="submit" [disabled]="addUserDetailForm.invalid" class="btn btn-primary">enviar</button>
    </div>
  </div>
  </form>
</p-dialog>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>